@charset 'utf8'
@import '../../../node_modules/bulma/bulma'
@import 'colors'
@import 'typography'
@import '../../../node_modules/typicons-font/typicons'
@import 'icons'
@import 'controls'
@import 'notifications'
@import 'nav'
@import 'foot'
@import 'content-box'
@import 'landing'
@import 'login'


html
  background: $white
  font-family: $open-sans
  height: 100%

  .background-svg
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    line-height: 0
    font-size: 0
    height: 100%

  .hero
    padding-top: 60px
    background: $white

.app-page
  display: flex
  min-height: 100vh
  flex-direction: column

.app-container
  flex: 1 1 auto
