@charset 'utf8'
@import '../../../node_modules/bulma/bulma'
@import 'colors'
@import 'typography'
@import '../../../node_modules/typicons-font/typicons'
@import 'icons'
@import 'nav'
@import 'foot'
@import 'content-box'
@import 'landing'


html, body
  background: $cyan
  font-family: $open-sans
  width: 100%
  height: 100%
  position: relative

  .background-svg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    line-height: 0
    font-size: 0

  .hero
    padding-top: 60px
