.content-box
  width: 100%

  h3
    font-size: 13px
    font-weight: 200
    margin-bottom: 20px

  .content-box-title
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    font-size: 14px
    padding: 10px 20px
    color: $text-secondary
    background: $background-secondary
    border: 1px solid $border

    span
      display: flex
      align-items: center

    h1
      font-weight: bold
      font-size: 16px

  .content-box-main
    width: 100%
    height: 100%
    min-height: 300px

    h1
      font-weight: bold

    .markdown-content
      margin: 30px 0

    .tabs
      border-bottom: 1px solid $border

    .table
      font-size: 13px

    .package-item
      font-size: 14px
      padding: 20px
      height: 75px
      background: $white
      border-bottom: 1px solid $border
      border-left: 1px solid $border
      border-right: 1px solid $border

      span
        display: block
        width: 100%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        &.span-title
          font-size: 16px

          i
            color: $text-secondary
            margin-right: 10px

        &.centered
          height: 100%
          display: flex
          align-items: center

        &.small
          font-size: 12px
          color: $text-secondary

      &:hover
        background: #F2F4F7
        cursor: pointer

      .button
        background: linear-gradient(to top, #F2F4F7, #FFFFFF)
        border: 1px solid #CED0DA
        padding: 5px 20px
        font-size: 14px
        color: #354052
        outline: none

.message

  .message-body
    font-size: 14px

.tabs

  &.is-boxed

    ul

      li
        font-size: 14px
