.footer
  background: transparent
  color: $white
  line-height: 0
  padding-top: 0
  padding-bottom: 25px

  .svg-package
    margin-top: 20px
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    svg
      width: 60px
      height: 60px

  span
    font-size: 13px
    display: block

    a
      color: $white
      display: flex
      align-items: center
      justify-content: center

    &.dot
      width: 10px
      height: 10px
      border-radius: 50%
      margin-left: 10px

      &.green
        background: $green
