.nav
  background: $white
  width: 100%
  padding: 0 10px
  min-height: 70px

  .nav-item
    color: $green
    font-size: 14px
    font-weight: bold
    color: $text-secondary

    &:hover
      color: $text-secondary

    .typcn
      font-size: 18px
      margin-left: 5px
      color: $text-secondary

  .nav-left

    .nav-logo
      width: 50px
      height: 50px

  .nav-search
    height: 100%
    display: flex
    align-items: center
    margin-right: 15px
    position: relative

    .search-icon
      position: absolute
      width: 15px
      height: 15px
      right: 10px
      bottom: 27px

    .nav-search-field
      border: 1px solid #DFE3E9
      border-radius: 4px
      min-width: 250px
      padding: 10px 40px 10px 15px
      font-size: 14px
      outline: none

      &::-webkit-input-placeholder
        color: #DFE3E9

      &::-moz-placeholder
        color: #DFE3E9

      &:-ms-input-placeholder
        color: #DFE3E9

      &:-moz-placeholder
        color: #DFE3E9

  .nav-dropdown
    position: absolute
    z-index: 100
    width: 180px
    top: 90px
    right: 20px
    border-radius: 5px
    padding-top: 12px
    background: $white
    box-shadow: 0 2px 10px rgba(10, 10, 10, 0.1)
    border: 1px solid $border

    &:after
      content: ''
      position: absolute
      top: -7.5px
      right: 35px
      background: $white
      width: 15px
      height: 15px
      transform: rotate(-45deg)
      border-top: 1px solid $border
      border-right: 1px solid $border

    .nav-dropdown-item
      display: block
      color: $text-secondary
      padding: 10px
      font-size: 12px
      position: relative
      text-align: center
      font-weight: 800

      .typcn
        position: absolute
        top: 2px
        left: 10px
        font-size: 20px

      &:hover
        background: $green
        color: $white

        .typcn
          color: $white

      &:last-child
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
