<div class="hero bg-yellow-light">
  <div class="hero-head">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="hero-search-input-container">
            <input type="text" class="hero-search-input-field" placeholder="Search packages ...">
            <button class="hero-search-input-button">
              <span class="typcn typcn-zoom"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <div class="content-box">
            <div class="content-box-head">
              <span class="typcn typcn-world"></span>
              <span>Popular packages</span>
            </div>
            <div class="content-box-main">
              <div class="columns is-multiline">
                <div class="column is-4">
                  <div class="package-item">
                    <h1>@angular/core</h1>
                    <h3>4.0.0</h3>
                    <p>Core Angular Framework</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>d3</h1>
                    <h3>4.7.4</h3>
                    <p>Data-Driven Documents</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>@bleenco/morose</h1>
                    <h3>0.3.2</h3>
                    <p>npm registry & proxy server</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>@angular/core</h1>
                    <h3>4.0.0</h3>
                    <p>Core Angular Framework</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>d3</h1>
                    <h3>4.7.4</h3>
                    <p>Data-Driven Documents</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>@bleenco/morose</h1>
                    <h3>0.3.2</h3>
                    <p>npm registry & proxy server</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>@angular/core</h1>
                    <h3>4.0.0</h3>
                    <p>Core Angular Framework</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>d3</h1>
                    <h3>4.7.4</h3>
                    <p>Data-Driven Documents</p>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="package-item">
                    <h1>@bleenco/morose</h1>
                    <h3>0.3.2</h3>
                    <p>npm registry & proxy server</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
