<nav class="nav has-shadow">
  <div class="nav-center">
    <a class="nav-item" routerLink="/">
      <img src="images/morose.svg" class="nav-logo" />
    </a>
  </div>
</nav>

<div class="hero bg-blue-light is-fullheight">
  <div class="background-svg"></div>
  <div class="hero-head">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-4 is-offset-4">
          <div class="hero-search-input-container">
            <input type="text" class="hero-search-input-field" placeholder="Search packages ...">
            <button class="hero-search-input-button">
              Go!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
