<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item" routerLink="/">
      <img src="images/morose-logo.png" class="nav-logo" />
    </a>
  </div>
  <div class="nav-right">
    <a class="nav-item" routerLink="/user/login" *ngIf="!auth.user">
      <span class="typcn typcn-user"></span>
      <span>Login</span>
    </a>
    <a class="nav-item drop-menu-act" (click)="toggleMenu()" *ngIf="auth.user">
      <span>Hello,&nbsp;</span>
      <span>{{ auth.user.name }}</span>
      <span class="typcn typcn-arrow-sorted-down"></span>
    </a>
  </div>

  <div class="nav-dropdown" *ngIf="menuDropped">
    <a class="nav-dropdown-item" routerLink="/profile/{{auth.user.name}}">
      <span class="typcn typcn-cog-outline"></span>
      Profile
    </a>
    <a *ngIf="auth.userDetails.role === 'admin'" class="nav-dropdown-item" routerLink="/users">
      <span class="typcn typcn-group-outline"></span>
      Users
    </a>
    <a class="nav-dropdown-item" routerLink="/org">
      <span class="typcn typcn-group-outline"></span>
      Organizations
    </a>
    <a class="nav-dropdown-item" (click)="logout()">
      <span class="typcn typcn-eject-outline"></span>
      Logout
    </a>
  </div>
</nav>
