<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="content-box">
            <div class="content-box-head">
              <span>Server Statistics</span>
            </div>
            <div class="content-box-main">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <app-line-chart [value]="loadAvg"></app-line-chart>
                </div>
                <div class="column is-6">
                  <div class="line-chart">
                    <app-line-chart></app-line-chart>
                  </div>
                </div>
                <div class="column is-4">
                  <app-line-chart></app-line-chart>
                </div>
                <div class="column is-4">
                  <div class="line-chart">
                    <app-line-chart></app-line-chart>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="line-chart">
                    <app-line-chart></app-line-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
