<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-10 is-offset-1">
          <div class="content-box">
            <div class="content-box-head">
              <div class="tabs is-boxed">
                <ul>
                  <li (click)="tabClick('profile')" [class.is-active]="tab === 'profile'"><a>Profile</a></li>
                  <li (click)="tabClick('chpass')" [class.is-active]="tab === 'chpass'"><a>Change Password</a></li>
                </ul>
              </div>
            </div>
            <div class="content-box-main">
              <div class="content-box-main" *ngIf="tab === 'profile'">
                <div class="notification is-danger" *ngIf="error">
                  <button class="delete" (click)="error = false"></button>
                  {{ errorMessage }}
                </div>
                <div class="columns is-multiline">
                  <div class="column is-5">
                    <div class="card-image">
                      <figure class="image is-250x250 settings-image">
                        <img src="http://www.freeiconspng.com/uploads/profile-icon-9.png" alt="Image">
                        <span class="upload-text">
                          Change your avatar
                        </span>
                        <label class="upload-button">
                          <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                        </label>
                      </figure>
                    </div>
                  </div>
                  <div class="column is-7">
                    <form class="control-form" (ngSubmit)="updateProfile($event)" #profileForm="ngForm">
                      <div class="control-input-container">
                        <label class="control-label">Name</label>
                        <input type="text"
                              class="control-input-field"
                              name="name"
                              [(ngModel)]="updateProfileForm.name"
                              required>
                      </div>
                      <div class="control-input-container">
                        <label class="control-label">Email</label>
                        <input type="email"
                              class="control-input-field"
                              name="email"
                              [(ngModel)]="updateProfileForm.email"
                              required>
                      </div>
                      <div class="control-input-buttons">
                        <button type="submit"
                                class="control-button login-button"
                                [disabled]="!profileForm.form.valid"
                                required>
                          Update profile
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
              <div class="content-box-main" *ngIf="tab === 'chpass'">
                <div class="notification is-danger" *ngIf="error">
                  <button class="delete" (click)="error = false"></button>
                  {{ errorMessage }}
                </div>
                <div class="notification is-success" *ngIf="success">
                  <button class="delete" (click)="error = false"></button>
                  Password successfully changed.
                </div>
                <form class="control-form" (ngSubmit)="changePassword($event)" #chpassForm="ngForm">
                  <div class="control-input-container">
                    <label class="control-label">Current password</label>
                    <input type="password"
                          class="control-input-field"
                          name="oldpassword"
                          [(ngModel)]="changePasswordForm.oldpassword"
                          required>
                  </div>
                  <div class="control-input-container">
                    <label class="control-label">New Password</label>
                    <input type="password"
                          class="control-input-field"
                          name="newpassword1"
                          [(ngModel)]="changePasswordForm.newpassword1"
                          required>
                  </div>
                  <div class="control-input-container">
                    <label class="control-label">Retype New Password</label>
                    <input type="password"
                          class="control-input-field"
                          name="newpassword2"
                          [(ngModel)]="changePasswordForm.newpassword2"
                          required>
                  </div>
                  <div class="control-input-buttons">
                    <button type="submit"
                            class="control-button login-button"
                            [disabled]="!chpassForm.form.valid"
                            required>
                      Change password
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
