<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <div class="content-box">
            <div class="content-box-head">
              <span>Login</span>
            </div>
            <div class="content-box-body">
              <form class="control-form">
                <div class="control-input-container">
                  <label class="control-label">Username</label>
                  <input type="text" class="control-input-field">
                </div>
                <div class="control-input-container">
                  <label class="control-label">Password</label>
                  <input type="password" class="control-input-field">
                </div>
                <div class="control-input-buttons">
                  <button type="button" class="control-button login-button">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
